@import "tailwindcss";

:root {
  background: var(--color-gray-50);
  foreground: var(--color-gray-900);
}

@theme inline {
  --color-background: var(--color-gray-50);
  --color-foreground: var(--color-gray-900);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
